{% comment %}
  Renders a product card (Block)

  Usage:
  {% render 'block-product'%}
{% endcomment %}

<li class="product">
  <img
    src="https://images.pexels.com/photos/32972549/pexels-photo-32972549.jpeg"
    alt="product"
    width="100%"
    height="100%"
  >
  <span class="name">Whole bean coffee</span>
  <button ui-button data-variant="outline" data-size="sm" data-icon aria-label="add to cart" class="action">
    {% if item < 5 %}
      <i class="hgi hgi-stroke hgi-plus-sign"></i>
    {% else %}
      <i class="hgi hgi-stroke hgi-shopping-basket-01"></i>
    {% endif %}
  </button>
</li>
