{% comment %}
  Renders an accordion item (Block)

  Usage:
  {% render 'accordion-item'%}
{% endcomment %}

<li class="accordion-item" {{ block.youcan_attributes }}>
  <label class="item-wrapper">
    <div class="trigger">
      <span class="label">{{ block.settings.question }}</span>
      <i class="hgi hgi-stroke hgi-arrow-down-01"></i>
    </div>
    <div class="content">
      <article>
        <p>{{ block.settings.answer }}</p>
      </article>
    </div>
    <input type="checkbox" name="accordion">
  </label>
</li>
