{% comment %}
  Renders a collection card (Block)

  Usage:
  {% render 'collection-product'%}
{% endcomment %}

<li class="collection">
  <ui-drawer id="products">
    <button
      ui-drawer="trigger"
      data-for="products"
      data-state="open"
      class="collection-card"
      style="background-image: url('https://images.pexels.com/photos/30041434/pexels-photo-30041434.jpeg');"
    >
      <div class="content">
        <span class="name">Whole bean coffee</span>
        <p class="description">Lorem ipsum dolor sit amet.</p>
      </div>
    </button>
    {% render 'drawer.products' %}
  </ui-drawer>
</li>
