{% comment %}
  Renders a collection card (Block)

  Usage:
  {% render 'collection-product'%}
{% endcomment %}

<li class="collection">
  <ui-drawer id="products">
    <button
      ui-drawer="trigger"
      data-for="products"
      data-state="open"
      class="collection-card"
    >
      <div class="image">
        <img
          src="https://images.pexels.com/photos/30041434/pexels-photo-30041434.jpeg"
          alt="collection"
          height="100%"
          width="100%"
        >
      </div>
      <div class="content">
        <span class="name">Man</span>
      </div>
    </button>
    {% render 'drawer.products' %}
  </ui-drawer>
</li>
