{% comment %}
  Renders a quantity drawer

  Usage:
  {% render 'drawer-quantity' %}
{% endcomment %}

<div ui-drawer="content" class="drawer-quantity">
  <div class="head">
    <div class="info">
      <h4 class="title">Item added to bag</h4>
    </div>
    <button
      ui-drawer="trigger"
      data-for="quantity"
      data-state="close"
      ui-button
      data-variant="ghost"
      data-size="xs"
      data-icon
      aria-label="close"
    >
      <i class="hgi hgi-stroke hgi-cancel-01"></i>
    </button>
  </div>
  <div class="core">
    <div class="product-item">
      <div class="image">
        {% if product.preview_image %}
          <img
            src="{{ product.preview_image.original }}"
            alt="{{ product.name }}"
            width="100%"
            height="100%"
          >
        {% else %}
          {% render 'misc.image-fallback' %}
        {% endif %}
      </div>
      <div class="info">
        <span class="title">{{ product.name }}</span>
        <span class="price">{{ price | default: 0 | money }}</span>
      </div>
    </div>
    <div class="quantity-item">
      <span class="label">Change quantity:</span>
      <div class="control">
        <button ui-button data-variant="outline" data-size="sm" data-icon aria-label="decrease">
          <i class="hgi hgi-stroke hgi-minus-sign"></i>
        </button>
        <span class="value">1</span>
        <button ui-button data-variant="outline" data-size="sm" data-icon aria-label="increase">
          <i class="hgi hgi-stroke hgi-plus-sign"></i>
        </button>
      </div>
    </div>
    {% if false %}
      <div class="form-item">
        <label class="field">
          <span class="label">First name</span>
          <input ui-input type="text" placeholder="Type your first name..">
        </label>
        <label class="field">
          <span class="label">Last name</span>
          <input ui-input type="text" placeholder="Type your last name..">
        </label>
        <label class="field">
          <span class="label">Phone number</span>
          <input ui-input type="phone" placeholder="Type your phone number..">
        </label>
      </div>
    {% endif %}
    <div class="actions-item">
      <button
        ui-drawer="trigger"
        data-for="quantity"
        data-state="close"
        ui-button
        data-variant="secondary"
        data-size="lg"
      >
        Keep shopping
      </button>
      <button ui-button data-variant="primary" data-size="lg">Checkout</button>
    </div>
  </div>
</div>
