{% comment %}
  Renders a cart drawer

  Usage:
  {% render 'drawer-cart'%}
{% endcomment %}

<div ui-drawer="content" class="drawer-cart">
  <div class="head">
    <div class="info">
      <h4 class="title">My cart</h4>
    </div>
    <button
      ui-drawer="trigger"
      data-for="cart"
      data-state="close"
      ui-button
      data-variant="ghost"
      data-size="xs"
      data-icon
      aria-label="close"
    >
      <i class="hgi hgi-stroke hgi-cancel-01"></i>
    </button>
  </div>
  <div class="core">
    <div class="products">
      <template ui-cart-drawer-item>
        {% render 'block.cart-drawer-product', product: product %}
      </template>
      <ui-cart-drawer-items>
        {% for product in cart.items %}
          {% render 'block.cart-drawer-product', product: product %}
        {% endfor %}
      </ui-cart-drawer-items>
    </div>
    {% unless cart.count > 0 %}
      {% render 'misc.empty', heading: 'Your cart is empty' %}
    {% else %}
      {% render 'misc.empty', heading: 'Your cart is empty', hidden: true %}
    {% endunless %}
    <div class="more-products">
      <div class="nav">
        <h4 class="title">Did you also want?</h4>
      </div>
      <ul
        class="products"
        data-style="scrollable"
      >
        {% for block in (1..4) %}
          {% render 'block.product' %}
        {% endfor %}
      </ul>
    </div>
    <div class="summary">
      <div class="total">
        <h4 class="label">
          Total Amount [<ui-cart-bubble>{{ cart.count | default: 0 }}</ui-cart-bubble>]:
        </h4>
        <span class="value" ui-cart-item="subtotal">{{ cart.sub_total | default: 0 | money }}</span>
      </div>
      <a href="/cart" ui-button data-variant="primary" data-size="lg">
        <i class="hgi hgi-stroke hgi-shopping-basket-03"></i>
        <span>Go to Cart</span>
      </a>
    </div>
  </div>
</div>
