{% comment %}
  Renders a products drawer

  Usage:
  {% render 'drawer-products'%}
{% endcomment %}

<div ui-drawer="content" class="drawer-products">
  <div class="head">
    <div class="info">
      <h4 class="title">Man</h4>
      <p class="description">[{{ section.blocks.size }}] Products</p>
    </div>
    <button
      ui-drawer="trigger"
      data-for="products"
      data-state="close"
      ui-button
      data-variant="ghost"
      data-size="xs"
      data-icon
      aria-label="close"
    >
      <i class="hgi hgi-stroke hgi-cancel-01"></i>
    </button>
  </div>
  <div class="core">
    <ul class="products">
      {% for index in (1..8) %}
        {% render 'block.product' %}
      {% endfor %}
    </ul>
  </div>
</div>
