{% comment %}
  Renders a gallery drawer

  Accepts:
  - images: {Array} images list

  Usage:
  {% render 'drawer-gallery' %}
{% endcomment %}

<div ui-drawer="content" class="drawer-gallery">
  <div class="head">
    <div class="info">
      <h4 class="title">Product Images</h4>
    </div>
    <button
      ui-drawer="trigger"
      data-for="gallery"
      data-state="close"
      ui-button
      data-variant="ghost"
      data-size="xs"
      data-icon
      aria-label="close"
    >
      <i class="hgi hgi-stroke hgi-cancel-01"></i>
    </button>
  </div>
  <div class="core">
    <ul class="images">
      {% for img in images %}
        <li class="image">
          {% capture alt %}
            {{ product.name }} - {{ forloop.index  }}
          {% endcapture %}

          <img
            src="{{ img }}"
            alt="{{ alt }}"
            height="100%"
            width="100%"
          >
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
