{% comment %}
  Renders a product drawer

  Usage:
  {% render 'drawer-product'%}
{% endcomment %}

<div ui-drawer="content" class="drawer-product" data-state="closed">
  <div class="head">
    <div class="info">
      <h4 class="title">Hot coffee mug</h4>
    </div>
    <button ui-drawer="trigger" ui-button data-variant="ghost" data-size="xs" data-icon aria-label="close">
      <i class="hgi hgi-stroke hgi-cancel-01"></i>
    </button>
  </div>
  <div class="core">
    <div class="media">
      <div class="slides">
        {% for img in (1..3) %}
          <img
            src="https://images.pexels.com/photos/5038250/pexels-photo-5038250.jpeg"
            alt="slide"
            width="100%"
            height="100%"
            class="slide"
          >
        {% endfor %}
      </div>
      <div class="pagination">
        {% for page in (1..3) %}
          <button class="page" aria-label="page"></button>
        {% endfor %}
      </div>
    </div>
    <div class="bio">
      <h3 class="title">Hot coffee mug</h3>
      <span class="price">$25.00</span>
    </div>
    <div class="description">
      <span class="label">Description</span>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident consequatur asperiores necessitatibus minima
        facilis doloribus reiciendis labore animi voluptatum? Fugiat necessitatibus sed ipsam sit. Cum perspiciatis
        accusamus atque temporibus vel.
      </p>
    </div>
    <ui-drawer class="actions">
      <button ui-drawer="trigger" ui-button data-variant="primary" data-size="lg" class="add-to-cart">
        <i class="hgi hgi-stroke hgi-shopping-cart-add-01"></i>
        Add to cart
      </button>
      {% render 'drawer.quantity' %}
    </ui-drawer>
  </div>
</div>
