{{ 'drawer.special-offer.css' | asset_url | stylesheet_tag }}
{{ 'misc.countdown.js' | asset_url | script_tag_deferred }}

{% comment %}
  Renders the special offer drawer

  Usage:
  {% render 'drawer.special-offer' %}
{% endcomment %}

<div ui-drawer="content" class="drawer-special-offer">
  <div class="head">
    <button
      ui-drawer="trigger"
      data-for="special-offer"
      data-state="close"
      ui-button
      data-variant="ghost"
      data-size="xs"
      data-icon
      aria-label="close"
    >
      <i class="hgi hgi-stroke hgi-cancel-01"></i>
    </button>
  </div>
  <div class="media">
    <div class="content">
      <h4 class="heading">Limited Time Offer</h4>
      <p class="subheading">Get all designers templates share animations and remove watermark</p>
    </div>
    <ui-countdown-timer
      date="2025-12-17"
      time="15:15:00"
    >
      <div class="time-slot">
        <span data-days="10">--</span>
        <span>d</span>
      </div>
      <div class="time-slot">
        <span data-hours="10">--</span>
        <span>h</span>
      </div>
      <div class="time-slot">
        <span data-minutes="10">--</span>
        <span>m</span>
      </div>
      <div class="time-slot">
        <span data-seconds="10">--</span>
        <span>s</span>
      </div>
    </ui-countdown-timer>
  </div>
  <div class="core">
    {% for product in (1..3) %}
      <div class="product">
        <img
          src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/duQzkwLvOMAtsI5g6Awbb8Ks3xK56K3995Zj977V.jpg"
          alt="product"
          height="80"
          width="80"
        >
        <div class="info">
          <a href="#" class="name">Rubberised Crossbody Bag</a>
          <span class="price">MAD 249</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
