{% comment %}
  Renders cart summary

  Usage:
  {% render 'misc.cart-summary'%}
{% endcomment %}

<ui-cart-summary>
  <div class="info">
    <span class="label">View cart</span>
    <p class="description">3 items</p>
  </div>
  <div class="icon">
    <i class="hgi hgi-stroke hgi-arrow-right-01"></i>
  </div>
</ui-cart-summary>
