{% comment %}
  Renders a list of linked fields, typically "country", "region", and "city" (optional)

  Accepts:
  - fields: {Array} list of fields

  Usage:
  {% render 'misc-linked-fields', fields: [...] %}
{% endcomment %}

{% assign linked_fields = 'country,region,city' %}

<ui-linked-fields>
  {% for field in fields %}
    {% if linked_fields contains field.name %}
      <label ui-express-checkout="field">
        <span ui-express-checkout="label">{{ field.display_name }}</span>
        <select
          ui-input
          name="{{ field.name }}"
          {% if field.required %}
            required
          {% endif %}
        ></select>
        <i class="hgi hgi-stroke hgi-unfold-more"></i>
      </label>
    {% endif %}
  {% endfor %}
</ui-linked-fields>
