{% comment %}
  Renders stories

  Usage:
  {% render 'misc.stories'%}
{% endcomment %}

<div ui-stories="content" data-state="closed">
  <div class="head">
    <div class="steps">
      {% for step in (1..2) %}
        <span class="step"></span>
      {% endfor %}
    </div>
    <div class="more">
      <div class="info">
        <img
          src="https://images.pexels.com/photos/34046748/pexels-photo-34046748.jpeg"
          alt="logo"
          width="40"
          height="40"
          class="logo"
        >
        <span class="name">Cokimocha</span>
      </div>
      <button
        class="action"
        ui-stories="trigger"
        ui-button
        data-variant="blurry"
        data-size="md"
        data-icon
        aria-label="close"
      >
        <i class="hgi hgi-stroke hgi-cancel-01"></i>
      </button>
    </div>
  </div>
  <ul ui-stories="items" class="stories">
    {% for i in (1..2) %}
      <li class="story">
        <div class="image">
          {% if i == 1 %}
            <img
              src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/others/Uxh0oP2BplHSw5xa0xZ9CgdMBYsagMBrmPiEK39o.jpg"
              alt="product"
              height="100%"
              width="100%"
            >
          {% else %}
            {% render 'misc.image-fallback' %}
          {% endif %}
        </div>
        <div class="content">
          <h4 class="title">Hot coffee mug</h4>
          <div class="info">
            <span class="reviews">
              4.8
              <i class="hgi hgi-stroke hgi-star"></i>
            </span>
            <span class="inventory">
              Low stoke
              <i class="hgi hgi-stroke hgi-delivery-box-02"></i>
            </span>
          </div>
        </div>
        <div class="actions">
          <h3 class="price">499 MAD</h3>
          <button ui-button data-variant="secondary" data-size="lg">Shop Now</button>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
