{{ 'section.cart.css' | asset_url | stylesheet_tag }}

<div ui-section="cart">
  <h3 class="title">Shopping Cart</h3>
  <div class="core">
    <div class="card">
      <span class="title">Products</span>
      <ul class="box products">
        {% for item in (1..3) %}
          <li class="product">
            <img
              src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/Bjpmyg3OuuRUicg03vkY1YHsSi55BUnZ7XVWX7b1_md.jpg"
              alt="product"
              height="80"
              width="80"
            >
            <div class="info">
              <h4 class="name">Fabric Tote Bag</h4>
              <p class="price">$359</p>
            </div>
            <div class="actions">
              <button ui-button data-variant="ghost" data-size="xs" data-icon aria-label="delete">
                <i class="hgi hgi-stroke hgi-delete-02"></i>
              </button>
              <div class="quantity">
                <button ui-button data-variant="secondary" data-size="xs" data-icon aria-label="decrease">
                  <i class="hgi hgi-stroke hgi-minus-sign"></i>
                </button>
                <span class="value">1</span>
                <button ui-button data-variant="secondary" data-size="xs" data-icon aria-label="increase">
                  <i class="hgi hgi-stroke hgi-add-01"></i>
                </button>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card">
      <span class="title">Summary</span>
      <ul class="box summary">
        <div class="item">
          <input ui-input type="text" placeholder="Enter coupon code">
          <button ui-button data-variant="secondary" data-size="lg" disabled>
            <i class="hgi hgi-stroke hgi-coupon-percent"></i>
            <span class="label">Apply</span>
          </button>
        </div>
        <li class="item">
          <span class="label">Subtotal</span>
          <span class="value">$599</span>
        </li>
        <li class="item">
          <span class="label">Total</span>
          <span class="value">$599</span>
        </li>
      </ul>
    </div>
    <button ui-button data-variant="primary" data-size="lg">
      <i class="hgi hgi-stroke hgi-shopping-basket-03"></i>
      <span class="label">Processed to checkout</span>
    </button>
  </div>
</div>

{% schema %}
{
  "label": "Cart"
}
{% endschema %}
