{{ 'section.collections.css' | asset_url | stylesheet_tag }}
{{ 'drawer.products.css' | asset_url | stylesheet_tag }}

<div ui-section="collections" ui-nav="shop">
  <h3 class="title">Collections</h3>
  <ul class="collections">
    {% for item in (1..4) %}
      {% render 'block.collection' %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "Collections"
}
{% endschema %}
