{{ 'section.collections.css' | asset_url | stylesheet_tag }}

<div ui-section="collections" ui-nav="shop">
  <div class="head">
    <h3 class="title">{{ section.settings.title }}</h3>
    <a href="/collections" ui-button data-variant="link" data-size="sm" class="see-all">
      {{ section.settings.link }}
    </a>
  </div>
  <ul class="collections" data-style="{{ section.settings.style }}">
    {% for block in section.blocks %}
      {% render 'block.collection' %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "Collections",
  "templates": ["index"],
  "limit": 3,
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Collections"
    },
    {
      "id": "link",
      "type": "text",
      "label": "Link label",
      "default": "See all"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "id": "style",
      "type": "select",
      "label": "Style",
      "options": [
        {
          "label": "Scrollable",
          "value": "scrollable"
        },
        {
          "label": "Gallery",
          "value": "gallery"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ],
      "default": "scrollable"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "label": "Collection",
      "settings": [
        {
          "type": "category",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
