{{ 'section.featured-product.css' | asset_url | stylesheet_tag }}

<div ui-section="featured-product" ui-nav="shop">
  <div class="card">
    <div class="image">
      <img
        src="https://cdn.youcan.shop/stores/8c0f76d0ef7e3d4694bc90e537d522d1/products/FEW5kx6LGNBKKUhpPwCqTYjrY5ciQmUnLEnpwZ8J.jpg"
        alt="product"
        height="100%"
        width="100%"
      >
      {% comment %} {% render 'misc.image-fallback' %} {% endcomment %}
    </div>
    <div class="content">
      <div class="info">
        <a href="#" class="title">Nylon Backpack</a>
        <p class="rating">No review yet</p>
      </div>
      <div class="action">
        <h4 class="price">499 MAD</h4>
        <button ui-button data-variant="primary" data-size="lg">
          <i class="hgi hgi-stroke hgi-plus-sign"></i>
          <span>Add to Cart</span>
        </button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "label": "Featured Product"
}
{% endschema %}
