{{ 'section.hero.css' | asset_url | stylesheet_tag }}
{{ 'misc.stories.css' | asset_url | stylesheet_tag }}
{{ 'misc.stories.js' | asset_url | script_tag_deferred }}

<ui-hero ui-section="hero">
  <div class="avatar">
    <ui-stories>
      <button ui-stories="trigger" class="avatar-box">
        <img
          src="https://images.pexels.com/photos/34046748/pexels-photo-34046748.jpeg"
          alt="logo"
          width="80"
          height="90"
        >
      </button>
      {% render 'misc.stories' %}
    </ui-stories>
  </div>
  <div class="content">
    <h4 class="heading">Cokimocha</h4>
    <p class="subheading">Life is too short for bad coffee.</p>
  </div>
  <div class="actions">
    <label ui-button data-variant="ghost" data-size="md">
      Shop
      <input type="radio" name="nav" value="shop" checked>
    </label>
    <label ui-button data-variant="ghost" data-size="md">
      About
      <input type="radio" name="nav" value="about">
    </label>
  </div>
</ui-hero>

{%- schema -%}
{
  "label": "Hero"
}
{%- endschema -%}
