{{ 'section.search.css' | asset_url | stylesheet_tag }}

<div ui-section="search">
  {% paginate search.products by 24 cod %}
    <div class="head">
      <h4 class="label">
        <span>{{ items.size }}</span> products found, sorted by <span>Price (Ascending)</span>
      </h4>
      <ui-drawer id="filter">
        <button
          ui-drawer="trigger"
          data-for="filter"
          data-state="open"
          ui-button
          data-variant="secondary"
          data-size="md"
          data-icon
          aria-label="sort"
        >
          <i class="hgi hgi-stroke hgi-filter-horizontal"></i>
        </button>
        {% render 'drawer.filter' %}
      </ui-drawer>
    </div>
    {% if items.size > 0 %}
      <ul class="products">
        {% for block in items %}
          {% render 'block.product' %}
        {% endfor %}
      </ul>
      {% render 'misc.pagination',
        next_page_url: next_page,
        previous_page_url: previous_page,
        current: current,
        last: last,
        terms: terms
      %}
    {% else %}
      {% render 'misc.empty', heading: 'No products available' %}
    {% endif %}
  {% endpaginate %}
</div>

{% schema %}
{
  "label": "Search"
}
{% endschema %}
