/* BUTTON */
[ui-button] {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition-standard-default-effects);
  border: 1px solid transparent;
  outline: none;
  font: var(--font-body-md);
  cursor: pointer;

  /* Variant */
  &[data-variant="primary"] {
    background-color: var(--color-primary);
    color: var(--color-on-primary);

    &:hover:not(:disabled, [data-disabled], [data-loading]) {
      background-color: color-mix(
        in oklab,
        var(--color-primary) 90%,
        transparent
      );
    }
  }

  &[data-variant="secondary"] {
    background-color: var(--color-surface-container-low);
    color: var(--color-primary);

    &:hover:not(:disabled, [data-disabled], [data-loading]) {
      background-color: var(--color-surface-container-highest);
    }
  }

  &[data-variant="outline"] {
    border-color: var(--color-surface-variant);
    background-color: var(--color-on-primary);
    box-shadow: var(--shadow-xs);
    color: var(--color-primary);

    &:hover:not(:disabled, [data-disabled], [data-loading]) {
      background-color: var(--color-surface-container-low);
    }
  }

  &[data-variant="ghost"] {
    background-color: transparent;
    color: var(--color-primary);

    &:hover:not(:disabled, [data-disabled], [data-loading]) {
      background-color: var(--color-surface-container-low);
    }
  }

  &[data-variant="blurry"] {
    background-color: rgb(0 0 0 / 20%);
    color: var(--color-background);
    backdrop-filter: blur(3px);

    &:hover:not(:disabled, [data-disabled], [data-loading]) {
      background-color: var(--color-background);
      color: var(--color-on-background);
    }
  }

  &[data-variant="destructive"] {
    background-color: var(--color-error-container);
    color: var(--color-error);

    &:hover:not(:disabled, [data-disabled], [data-loading]) {
      background-color: var(--color-error);
      color: var(--color-error-container);
    }
  }

  &[data-variant="link"] {
    background-color: transparent;
    color: var(--color-primary);
    text-decoration: none;
    text-underline-offset: 4px;

    &:hover:not(:disabled, [data-disabled], [data-loading]) {
      text-decoration: underline;
    }
  }

  /* Size */
  &[data-size="xs"] {
    height: var(--spacing-24);
    padding-inline: var(--spacing-8);
    font: var(--font-body-sm);

    &[data-icon] {
      width: var(--spacing-24);
    }
  }

  &[data-size="sm"] {
    height: var(--spacing-32);
    padding-inline: var(--spacing-12);

    &[data-icon] {
      width: var(--spacing-32);
    }
  }

  &[data-size="md"] {
    height: calc(var(--spacing-32) + var(--spacing-4));
    padding-inline: var(--spacing-16);

    &[data-icon] {
      width: calc(var(--spacing-32) + var(--spacing-4));
    }
  }

  &[data-size="lg"] {
    height: calc(var(--spacing-32) + var(--spacing-8));
    padding-inline: var(--spacing-24);

    &[data-icon] {
      width: calc(var(--spacing-32) + var(--spacing-8));
    }
  }

  &[data-size="xs"],
  &[data-size="sm"] {
    gap: var(--spacing-6);
    border-radius: var(--radius-sm);
  }

  &[data-size="md"],
  &[data-size="lg"] {
    gap: var(--spacing-8);
    border-radius: var(--radius-md);
  }

  /* Icon */
  & > i {
    flex-shrink: 0;
    font-size: var(--spacing-16);
    pointer-events: none;
  }

  /* Loading */
  &[data-loading] {
    position: relative;
  }

  /* Active */
  &:active {
    scale: 0.98;
  }

  /* Disabled */
  &:disabled,
  &[data-disabled],
  &[data-loading] {
    opacity: 0.5;
    background-color: var(--color-surface-container);
    color: var(--color-on-surface-variant);
    pointer-events: none;
  }

  /* &:has(> :only-child:is(i)) {
    border-radius: var(--radius-circled);
  } */
}

/* INPUT */
[ui-input] {
  display: flex;
  width: 100%;
  height: 40px;
  padding-inline: var(--spacing-12);
  transition: all var(--transition-standard-default-effects);
  border: 1px solid var(--color-surface-container-highest);
  border-radius: var(--radius-sm);
  outline: none;
  background-color: var(--color-on-primary);
  box-shadow: 0 1px 2px 0 #0000000d;
  color: var(--color-on-background);
  font: var(--font-body-md);

  &:is(button) {
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-8);
  }

  &:is(textarea) {
    height: auto;
    padding-block: var(--spacing-12);
    resize: vertical;
  }

  /* Invalid */
  &[aria-invalid="true"] {
    border-color: var(--color-error);
  }

  /* Placeholder */
  &::placeholder {
    color: var(--color-outline);
  }

  /* Disabled */
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* Focus */
  &:focus {
    &:not([aria-invalid="true"]) {
      border-color: var(--color-outline);
      box-shadow: 0 0 0 3px
        color-mix(
          in oklab,
          var(--color-surface-container-highest) 50%,
          transparent
        );
    }

    &[aria-invalid="true"] {
      box-shadow: 0 0 0 3px
        color-mix(in oklab, var(--color-error) 20%, transparent);
    }
  }
}

/* RADIO GROUP */
[ui-radio-group] {
  display: flex;
  gap: var(--spacing-8);
  flex-wrap: wrap;

  [ui-radio-item] {
    display: flex;
    position: relative;
    align-items: center;
    width: fit-content;
    height: 36px;
    padding-inline: var(--spacing-12);
    transition: all var(--transition-standard-default-effects);
    border: 1px solid var(--color-surface-container-highest);
    border-radius: var(--radius-sm);
    background-color: var(--color-on-secondary);
    box-shadow: 0 1px 2px 0 #0000000d;
    color: var(--color-on-background);
    font: var(--font-body-md);
    gap: var(--spacing-8);

    input {
      position: absolute;
      opacity: 0;
      scale: 0;
    }

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      border: 1px solid var(--color-surface-container-highest);
      border-radius: var(--radius-circled);
      box-shadow: 0 1px 2px 0 #0000000d;
    }

    /* Checked */

    &:has(input:checked) {
      border-color: color-mix(in srgb, var(--color-primary) 50%, transparent);
      background-color: color-mix(
        in srgb,
        var(--color-primary) 8%,
        transparent
      );

      &::before {
        width: var(--spacing-6);
        height: var(--spacing-6);
        border: 5px solid var(--color-primary);
        background-color: var(--color-background);
      }
    }

    /* Disabled */
    &:has(input:disabled) {
      opacity: 0.5;
      cursor: not-allowed;
    }

    /* Focus */
    &:has(input:focus-visible) {
      &:not([aria-invalid="true"]) {
        box-shadow: 0 0 0 3px
          color-mix(
            in oklab,
            var(--color-surface-container-highest) 50%,
            transparent
          );
      }

      &[aria-invalid="true"] {
        box-shadow: 0 0 0 3px
          color-mix(in oklab, var(--color-error) 20%, transparent);
      }
    }
  }
}

/* TOGGLE GROUP */
[ui-toggle-group] {
  display: flex;
  gap: var(--spacing-8);
  flex-wrap: wrap;

  [ui-toggle-item] {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 50px;
    height: 36px;
    padding-inline: var(--spacing-12);
    transition: all var(--transition-standard-default-effects);
    border: 1px solid var(--color-surface-container-highest);
    border-radius: var(--radius-sm);
    background-color: var(--color-on-secondary);
    box-shadow: 0 1px 2px 0 #0000000d;
    color: var(--color-on-background);
    font: var(--font-body-md);
    text-align: center;
    gap: var(--spacing-8);

    input {
      position: absolute;
      opacity: 0;
      scale: 0;
    }

    /* Checked */
    &:has(input:checked) {
      border-color: transparent;
      background-color: var(--color-primary);
      color: var(--color-on-primary);
    }

    /* Disabled */
    &:has(input:disabled) {
      opacity: 0.5;
      cursor: not-allowed;
    }

    /* Focus */
    &:has(input:focus-visible) {
      &:not([aria-invalid="true"]) {
        box-shadow: 0 0 0 3px
          color-mix(
            in oklab,
            var(--color-surface-container-highest) 50%,
            transparent
          );
      }

      &[aria-invalid="true"] {
        box-shadow: 0 0 0 3px
          color-mix(in oklab, var(--color-error) 20%, transparent);
      }
    }
  }
}

/* IMAGE GROUP */
[ui-image-group] {
  display: flex;
  gap: var(--spacing-8);
  flex-wrap: wrap;

  [ui-image-item] {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: var(--spacing-2);
    transition: all var(--transition-standard-default-effects);
    border-radius: var(--radius-sm);
    background-color: var(--color-on-secondary);
    box-shadow:
      0 1px 3px 0 #0000001a,
      0 1px 2px -1px #0000001a;

    input {
      position: absolute;
      opacity: 0;
      scale: 0;
    }

    img {
      width: 50px !important;
      height: 50px !important;
      border-radius: calc(var(--radius-sm) * 0.8) !important;
    }

    /* Checked */
    &:has(input:checked) {
      background-color: var(--color-primary);
    }

    /* Disabled */
    &:has(input:disabled) {
      opacity: 0.5;
      cursor: not-allowed;
    }

    /* Focus */
    &:has(input:focus-visible) {
      &:not([aria-invalid="true"]) {
        box-shadow: 0 0 0 3px
          color-mix(
            in oklab,
            var(--color-surface-container-highest) 50%,
            transparent
          );
      }

      &[aria-invalid="true"] {
        box-shadow: 0 0 0 3px
          color-mix(in oklab, var(--color-error) 20%, transparent);
      }
    }
  }
}

/* RADIO */
[ui-radio] {
  --radio-size: 20px;
  --radio-offset: calc(var(--radio-size) / 4);
  --radio-dot-size: calc(var(--radio-size) * 0.5);

  position: relative;
  width: var(--radio-size);
  height: var(--radio-size);
  margin: var(--radio-offset);
  transition: var(--transition-standard-fast-effects);
  border: 1px solid var(--color-outline);
  border-radius: var(--radius-circled);
  outline: 10px solid transparent;
  outline-offset: 10px;
  cursor: pointer;
  appearance: none;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    width: var(--radio-dot-size);
    height: var(--radio-dot-size);
    transition: var(--transition-standard-default-effects);
    background-color: var(--color-primary);
    scale: 0;
    clip-path: circle();
    translate: -50% -50%;
    inset-block-start: 50%;
  }

  &::after {
    position: absolute;
    border-radius: var(--radius-circled);
    opacity: 0;
    background-color: color-mix(
      in srgb,
      var(--color-on-surface) 8%,
      transparent
    );
    inset: 0;
    scale: 2.5;
  }

  &:active,
  &:hover:not(:disabled)::after {
    content: "";

    &:active::after {
      background-color: color-mix(
        in srgb,
        var(--color-on-surface) 12%,
        transparent
      );
    }
  }

  &:checked {
    border-color: var(--color-primary);

    &::before {
      scale: 1;
    }
  }

  &:disabled {
    border-color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
    pointer-events: none;

    &:checked::before {
      background-color: color-mix(
        in srgb,
        var(--color-on-surface) 38%,
        transparent
      );
    }
  }

  &:focus-visible {
    animation: focus var(--transition-standard-slow-spatial) forwards;
  }

  &:hover:not(:checked, :disabled) {
    border-color: var(--color-on-surface);
  }
}

/* CART SUMMARY */
ui-cart-summary {
  display: flex;
  visibility: hidden;
  position: fixed;
  z-index: 50;
  align-items: center;
  width: 230px;
  height: var(--spacing-64);
  padding: var(--spacing-8);
  padding-inline-start: var(--spacing-24);
  transform: translateX(-50%) translateY(48px) scale(0.5);
  animation: open-cart-summary var(--transition-standard-slow-spatial) forwards;
  border-radius: var(--radius-rounded);
  opacity: 0;
  background-color: var(--color-on-background);
  color: var(--color-background);
  cursor: pointer;
  inset-inline-start: 50%;
  inset-block-end: var(--spacing-12);
  filter: blur(5px);

  .info {
    display: grid;
    flex: 2;
    gap: var(--spacing-2);

    .label {
      font: var(--font-body-md);
    }

    .description {
      opacity: 0.8;
      font: var(--font-body-sm);
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: color-mix(in srgb, currentcolor 10%, transparent);
    clip-path: circle();

    & > i {
      font-size: 20px;
    }
  }
}

@keyframes open-cart-summary {
  to {
    visibility: visible;
    grid-template-columns: 1fr;
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

/* PRODUCT BUTTON */
ui-product-button {
  [ui-button] {
    &::before {
      content: attr(data-cta);
    }

    > i {
      order: -1;
    }
  }

  &:has([ui-button]:empty)[not-available] {
    [ui-button] {
      &::before {
        content: attr(data-out-of-stock);
      }
    }
  }
}
