/* BUTTON */
[ui-button] {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition-standard-default-effects);
  border: 1px solid transparent;
  outline: none;
  font: var(--font-body-md);
  cursor: pointer;

  /* Variant */
  &[data-variant="primary"] {
    background-color: var(--color-primary);
    color: var(--color-on-primary);

    &:hover {
      background-color: color-mix(
        in oklab,
        var(--color-primary) 90%,
        transparent
      );
    }
  }

  &[data-variant="secondary"] {
    background-color: var(--color-surface-container-low);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-surface-container-highest);
    }
  }

  &[data-variant="outline"] {
    border-color: var(--color-surface-variant);
    background-color: var(--color-on-secondary);
    box-shadow: var(--shadow-xs);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-surface-container-low);
    }
  }

  &[data-variant="ghost"] {
    background-color: transparent;
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-surface-container-low);
    }
  }

  &[data-variant="destructive"] {
    background-color: var(--color-error-container);
    color: var(--color-error);

    &:hover {
      background-color: var(--color-error);
      color: var(--color-error-container);
    }
  }

  &[data-variant="link"] {
    background-color: transparent;
    color: var(--color-primary);
    text-decoration: none;
    text-underline-offset: 4px;

    &:hover {
      text-decoration: underline;
    }
  }

  /* Size */
  &[data-size="xs"] {
    height: var(--spacing-24);
    padding-inline: var(--spacing-8);
    font: var(--font-body-sm);

    &[data-icon] {
      width: var(--spacing-24);
    }
  }

  &[data-size="sm"] {
    height: var(--spacing-32);
    padding-inline: var(--spacing-12);

    &[data-icon] {
      width: var(--spacing-32);
    }
  }

  &[data-size="md"] {
    height: calc(var(--spacing-32) + var(--spacing-4));
    padding-inline: var(--spacing-16);

    &[data-icon] {
      width: calc(var(--spacing-32) + var(--spacing-4));
    }
  }

  &[data-size="lg"] {
    height: calc(var(--spacing-32) + var(--spacing-6));
    padding-inline: var(--spacing-24);

    &[data-icon] {
      width: calc(var(--spacing-32) + var(--spacing-6));
    }
  }

  &[data-size="xs"],
  &[data-size="sm"] {
    gap: var(--spacing-6);
    border-radius: var(--radius-sm);
  }

  &[data-size="md"],
  &[data-size="lg"] {
    gap: var(--spacing-8);
    border-radius: var(--radius-md);
  }

  /* Icon */
  & > i {
    flex-shrink: 0;
    font-size: var(--spacing-16);
    pointer-events: none;
  }

  /* Active */
  &:active {
    scale: 0.98;
  }

  /* Disabled */
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* INPUT */

/* DRAWER */
