@import url("./_tokens.css");
@import url("./_components.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--color-surface-container);
  color: var(--color-on-background);

  & > #app {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: calc(100vh - var(--spacing-24));
    margin: var(--spacing-12);
    padding: var(--spacing-24);
    border-radius: var(--radius-lg);
    background-color: var(--color-background);
    gap: var(--spacing-24);

    & > main {
      display: flex;
      flex: 2;
      flex-direction: column;
      gap: var(--spacing-32);
    }

    /* HEADER */
    [ui-layout="header"] {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    /* FOOTER */
    [ui-layout="footer"] {
      color: var(--color-on-surface-variant);
      font: var(--font-body-md);
      text-align: center;
    }
  }

  &:has([ui-drawer="content"][data-state="open"]) {
    overflow-y: hidden;
  }

  &:has([ui-stories="content"][data-state="open"]) {
    overflow-y: hidden;
  }
}

@media (width > 769px) {
  body {
    & > #app {
      &:has([ui-stories="content"][data-state="open"]) {
        &::before {
          content: "";
          position: fixed;
          inset: 0;
          background-color: var(--color-background);
        }
      }
    }
  }
}

@media (width <= 769px) {
  body {
    background-color: var(--color-background);

    & > #app {
      width: 100%;
      min-height: 100vh;
      margin: var(--spacing-0);
      border-radius: var(--radius-none);
    }
  }
}
