@import url("./_tokens.css");
@import url("./_components.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* .youcan-section {
  &:has([ui-section][hidden]) {
    display: none !important;
  }
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface-container);
  color: var(--color-on-background);

  & > #app {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 600px;
    min-height: calc(100vh - var(--spacing-24));
    margin: var(--spacing-12);
    padding: var(--spacing-24);
    transition: var(--transition-standard-slow-effects);
    border-radius: var(--radius-lg);
    background-color: var(--color-background);
    gap: var(--spacing-24);

    & > main {
      display: flex;
      flex: 2;
      flex-direction: column;
      gap: var(--spacing-32);

      &:has(input[value="about"]:checked) {
        .youcan-section {
          &:has([ui-nav="shop"]) {
            display: none !important;
          }
        }
      }

      &:has(input[value="shop"]:checked) {
        .youcan-section {
          &:has([ui-nav="about"]) {
            display: none !important;
          }
        }
      }
    }

    /* HEADER */
    [ui-layout="header"] {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &[data-template="search"] {
        gap: var(--spacing-12);

        .back {
          display: flex;
          flex: 2;
          align-items: center;
          gap: var(--spacing-12);

          form {
            width: 100%;

            input {
              border-radius: var(--radius-rounded);
            }
          }
        }
      }

      &:has(.back) {
        z-index: 50;
        gap: var(--spacing-12);

        &[data-template="page"],
        &[data-template="product"],
        &[data-template="collection"] {
          position: fixed;
          z-index: 50;
          width: calc(600px - var(--spacing-48));
        }

        .back {
          flex: 2;
        }
      }
    }

    /* FOOTER */
    [ui-layout="footer"] {
      color: var(--color-on-surface-variant);
      font: var(--font-body-md);
      text-align: center;
    }
  }

  &:has([ui-drawer="content"][data-state="open"]) {
    overflow-y: hidden;
  }

  &:has([ui-stories="content"][data-state="open"]) {
    overflow-y: hidden;
  }
}

[hidden] {
  display: none !important;
}

@media (width > 769px) {
  body {
    & > #app {
      &:has([ui-stories="content"][data-state="open"]) {
        &::before {
          content: "";
          position: fixed;
          inset: 0;
          background-color: var(--color-background);
        }
      }
    }
  }
}

@media (width <= 769px) {
  body {
    background-color: var(--color-background);

    & > #app {
      width: 100%;
      min-height: 100vh;
      margin: var(--spacing-0);
      border-radius: var(--radius-none);

      [ui-layout="header"]:has(.back) {
        &[data-template="page"],
        &[data-template="product"],
        &[data-template="collection"] {
          width: calc(100% - var(--spacing-48));
        }
      }
    }
  }
}
