/* DRAWER EXPRESS CHECKOUT */
.drawer-express-checkout {
  gap: var(--spacing-24);

  /* CORE */
  & > .core {
    display: grid;
    gap: var(--spacing-24);
    padding-block-end: var(--spacing-24);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    .about {
      display: grid;
      padding-block: var(--spacing-24);
      border-block: 1px dashed var(--color-surface-variant);
      gap: var(--spacing-24);

      .product-item {
        display: flex;
        gap: var(--spacing-12);

        .image {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: var(--radius-md);

          img {
            object-fit: cover;
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-4);
          font: var(--font-body-md);

          .title {
            opacity: 0.8;
          }

          .price {
            color: var(--color-primary);
          }
        }
      }

      .quantity-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .label {
          opacity: 0.8;
          font: var(--font-body-md);
        }

        .quantity {
          display: flex;
          align-items: center;
          gap: var(--spacing-4);

          .value {
            width: 30px;
            font: var(--font-body-md);
            text-align: center;
          }
        }
      }
    }

    .fields {
      display: grid;
      gap: var(--spacing-12);
      align-items: baseline;

      ui-linked-fields {
        display: grid;
        gap: var(--spacing-12);
      }

      [ui-express-checkout="field"] {
        display: grid;
        gap: var(--spacing-8);

        &:has(select) {
          position: relative;

          i {
            inset-inline-end: var(--spacing-12);
            inset-block-end: var(--spacing-12);
            position: absolute;
          }
        }

        [ui-express-checkout="label"] {
          color: var(--color-on-surface-variant);
          font: var(--font-body-md);
        }

        &[error-message] {
          &::after {
            content: attr(error-message);
            position: relative;
            color: var(--color-error);
            font: var(--font-body-sm);
          }
        }

        &:has(input:required, select:required, textarea:required) {
          [ui-express-checkout="label"]::after {
            content: " *";
            color: var(--color-error);
          }
        }
      }
    }

    .note {
      .message {
        display: flex;
        color: var(--color-primary);
        font: var(--font-body-sm);
        gap: var(--spacing-6);

        i {
          font-size: 16px;
        }
      }
    }

    .actions {
      inset-block-end: 0;
      position: sticky;

      [ui-button] {
        position: relative;
        z-index: 3;
        width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 88px;
        background-color: var(--color-background);
        mask: linear-gradient(transparent, black, black, black);
        backdrop-filter: blur(3px);
        inset-block-end: -24px;
      }
    }
  }
}

@media (width > 769px) {
  .drawer-express-checkout {
    & > .core {
      .fields {
        grid-template-columns: 1fr;
        grid-template-columns: repeat(2, 1fr);

        ui-linked-fields {
          grid-column: 1 / 3;
          grid-template-columns: repeat(2, 1fr);
        }

        [ui-express-checkout="field"] {
          &:nth-of-type(odd):last-of-type {
            grid-column: 1 / 3;
          }
        }
      }
    }
  }
}
