/* DRAWER CART */
.drawer-cart {
  gap: var(--spacing-24);

  /* CORE */
  & > .core {
    display: grid;
    padding-block-end: calc(var(--spacing-24) + 80px);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    gap: var(--spacing-24);

    ui-cart-drawer-items {
      display: grid;
      gap: var(--spacing-12);

      .product {
        display: flex;
        gap: var(--spacing-12);

        &:not(:last-child) {
          padding-block-end: var(--spacing-12);
          border-block-end: 1px dashed var(--color-surface-variant);
        }

        .image {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: var(--radius-md);

          & > img {
            object-fit: cover;
          }
        }

        .info {
          display: flex;
          flex: 2;
          flex-direction: column;
          gap: var(--spacing-4);
          font: var(--font-body-md);

          .name {
            overflow: hidden;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .price {
            color: var(--color-primary);
          }
        }

        .actions {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;

          .quantity {
            display: flex;
            align-items: center;
            gap: var(--spacing-4);

            .value {
              width: 30px;
              font: var(--font-body-md);
              text-align: center;
            }
          }
        }
      }
    }

    .more-products {
      display: grid;
      gap: var(--spacing-12);

      .nav {
        .title {
          font: var(--font-body-lg);
        }
      }

      .products {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        gap: var(--spacing-8);
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;

        .product {
          display: flex;
          position: relative;
          flex-direction: column;
          width: 100%;
          min-width: 40%;
          margin-block-end: var(--spacing-12);
          cursor: pointer;
          scroll-snap-align: center;
          scroll-snap-stop: always;
          gap: var(--spacing-12);

          .content {
            display: grid;
            gap: var(--spacing-2);
            padding-inline: var(--spacing-4);

            .title {
              overflow: hidden;
              color: var(--color-on-background);
              font: var(--font-body-md);
              text-overflow: ellipsis;
              white-space: nowrap;
              text-underline-offset: 4px;

              &:hover {
                text-decoration: underline;
              }
            }

            .price {
              color: var(--color-primary);
              font: var(--font-body-md);
              font-weight: 500;
            }

            .badge {
              width: fit-content;
              padding: var(--spacing-2) var(--spacing-6);
              border-radius: var(--radius-xs);
              background-color: color-mix(
                in srgb,
                currentcolor 10%,
                transparent
              );
              color: var(--color-primary);
              font: var(--font-label-sm);
            }
          }

          .image {
            height: 25vh;
            overflow: hidden;
            border-radius: var(--radius-md);

            & > img {
              object-fit: cover;
            }
          }

          .action {
            position: absolute;
            inset-block-start: var(--spacing-12);
            inset-inline-end: var(--spacing-12);
          }
        }
      }
    }

    .summary {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: space-between;
      width: 600px;
      height: 80px;
      padding-inline: var(--spacing-24);
      transform: translateX(-50%);
      background-color: var(--color-background);
      inset-inline-start: 50%;
      border-block-start: 1px solid var(--color-surface-variant);
      inset-block-end: 0;

      .total {
        display: flex;
        align-items: center;
        gap: var(--spacing-4);

        .label {
          opacity: 0.8;
          font: var(--font-body-md);
          font-weight: 400;
        }

        .value {
          padding: var(--spacing-4) var(--spacing-8);
          border-radius: var(--radius-sm);
          background-color: color-mix(in srgb, currentcolor 8%, transparent);
          color: var(--color-primary);
          font: var(--font-title-md);
        }
      }
    }
  }
}

@media (width <= 769px) {
  .drawer-cart {
    & > .core {
      .summary {
        width: 100%;
      }

      .more-products {
        .products {
          .product {
            .image {
              height: 15vh;
            }
          }
        }
      }
    }
  }
}
