/* DRAWER GALLERY */
.drawer-gallery {
  /* CORE */
  & > .core {
    padding-block-end: var(--spacing-24);
    overflow-y: scroll;

    .images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-8);

      .image {
        height: 30vh;

        &:nth-child(3n) {
          grid-column: 1 / 3;
          height: 60vh;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
