/* DRAWER PRODUCT */
.drawer-product {
  /* CORE */
  & > .core {
    display: grid;
    position: relative;
    padding-block-end: var(--spacing-24);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    gap: var(--spacing-12);

    .media {
      display: grid;
      gap: var(--spacing-12);

      .slides {
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        gap: var(--spacing-12);

        .slide {
          object-fit: cover;
          min-width: 100%;
          height: 40vh;
          scroll-snap-align: center;
          scroll-snap-stop: always;
          border-radius: var(--radius-md);
        }
      }

      .pagination {
        display: flex;
        justify-content: center;
        gap: var(--spacing-8);

        .page {
          width: 6px;
          height: 6px;
          border: none;
          border-radius: var(--radius-rounded);
          background-color: var(--color-surface-container-high);

          &:first-child {
            width: 30px;
            background-color: var(--color-primary);
          }
        }
      }
    }

    .bio {
      display: grid;
      gap: var(--spacing-8);

      .title {
        font: var(--font-title-lg);
      }

      .price {
        color: var(--color-primary);
      }
    }

    ui-tabs {
      .tabs-list {
        display: flex;
        position: relative;
        justify-content: space-between;
        border-block-end: 1px solid var(--color-surface-variant);

        &::before {
          content: "";
          position: absolute;
          width: calc(100% / var(--length));
          height: 1.5px;
          transition: inset-inline-start
            var(--transition-standard-default-spatial);
          border-radius: var(--radius-rounded);
          background-color: var(--color-primary);
          inset-inline-start: calc(
            var(--active-index, 0) * (100% / var(--length))
          );
          inset-block-end: -1px;
        }

        .tabs-trigger {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: calc(var(--spacing-32) + var(--spacing-4));
          padding-inline: var(--spacing-16);
          border: none;
          opacity: 0.8;
          background-color: transparent;
          font: var(--font-body-md);
          cursor: pointer;
          gap: var(--spacing-8);

          .badge {
            display: grid;
            width: 20px;
            height: 20px;
            background-color: var(--color-surface-container-high);
            font: var(--font-label-md);
            clip-path: circle();
            place-items: center;
          }

          &[data-active="true"] {
            opacity: 1;
            color: var(--color-primary);
            font-weight: 600;

            .badge {
              background-color: var(--color-primary);
              color: var(--color-on-primary);
            }
          }
        }
      }

      .tabs-group {
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;

        .tabs-content {
          min-width: 100%;
          scroll-snap-align: center;
          scroll-snap-stop: always;
          padding-block: var(--spacing-12);

          &[data-value="description"] {
            p {
              font: var(--font-body-md);
            }
          }
        }
      }
    }

    & > .actions {
      position: sticky;
      inset-block-end: 0;

      .add-to-cart {
        width: 100%;
      }
    }
  }
}
