/* DRAWER PRODUCTS */
.drawer-products {
  /* CORE */
  & > .core {
    padding-block-end: var(--spacing-32);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    .products {
      display: grid;
      gap: var(--spacing-12);
      grid-template-columns: repeat(2, 1fr);

      .product {
        display: grid;
        gap: var(--spacing-8);
        position: relative;
        cursor: pointer;

        .image {
          height: 270px;
          overflow: hidden;
          border-radius: var(--radius-md);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .content {
          display: grid;
          gap: var(--spacing-2);
          padding-inline: var(--spacing-4);

          .title {
            overflow: hidden;
            color: var(--color-on-background);
            font: var(--font-body-md);
            text-overflow: ellipsis;
            white-space: nowrap;
            text-underline-offset: 4px;

            &:hover {
              text-decoration: underline;
            }
          }

          .price {
            color: var(--color-primary);
            font: var(--font-body-md);
            font-weight: 500;
          }
        }

        .action {
          position: absolute;
          inset-inline-end: var(--spacing-12);
          inset-block-start: var(--spacing-12);
        }
      }
    }
  }
}

@media (width <= 769px) {
  .drawer-products {
    & > .core {
      .products {
        .product {
          .image {
            height: 20vh;
          }
        }
      }
    }
  }
}
