/* STORIES */
ui-stories {
  [ui-stories="content"] {
    position: fixed;
    z-index: 50;
    width: 600px;
    overflow: hidden;
    transform: translateX(-50%);
    transition: var(--transition-expressive-default-spatial);
    border-radius: var(--radius-lg);
    inset: var(--spacing-12);
    inset-inline-start: 50%;

    &[data-state="closed"] {
      visibility: hidden;
      opacity: 0;
      filter: blur(2px);
    }

    &[data-state="open"] {
      visibility: visible;
      opacity: 1;
      filter: blur(0);
    }

    .head {
      display: flex;
      position: relative;
      z-index: 3;
      flex-direction: column;
      padding: var(--spacing-24);
      gap: var(--spacing-16);

      .steps {
        display: flex;
        gap: var(--spacing-4);
        justify-content: space-between;

        .step {
          width: 100%;
          height: 3px;
          border-radius: var(--radius-rounded);
          background-color: rgb(255 255 255 / 40%);

          &:first-child {
            background-color: var(--color-background);
          }
        }
      }

      .more {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info {
          display: flex;
          align-items: center;
          gap: var(--spacing-8);

          img {
            border-radius: var(--radius-circled);
          }

          .name {
            color: var(--color-background);
            font: var(--font-body-md);
          }
        }
      }
    }

    .stories {
      .story {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: end;
        padding: var(--spacing-24);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: var(--color-background);
        inset: 0;
        gap: var(--spacing-32);

        &::before,
        &::after {
          content: "";
          position: fixed;
          inset: 0;
        }

        &::before {
          z-index: 2;
          background-image: linear-gradient(
            to bottom,
            rgb(0 0 0 / 15%),
            transparent,
            rgb(0 0 0 / 15%)
          );
        }

        &::after {
          background-color: rgb(0 0 0 / 30%);
          mask: linear-gradient(transparent, transparent, black);
          backdrop-filter: blur(3px);
        }

        .image {
          inset: 0;
          position: absolute;
          overflow: hidden;
          color: var(--color-on-background);

          img {
            object-fit: cover;
          }
        }

        .content {
          display: flex;
          position: relative;
          z-index: 2;
          flex-direction: column;
          text-align: start;
          gap: var(--spacing-12);

          .title {
            font: var(--font-title-lg);
          }

          .info {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-12);

            span {
              display: flex;
              align-items: center;
              gap: var(--spacing-4);
              padding: var(--spacing-8) var(--spacing-16);
              border-radius: var(--radius-rounded);
              background-color: rgb(255 255 255 / 20%);
              font: var(--font-body-md);
              backdrop-filter: blur(2px);
            }
          }
        }

        .actions {
          display: flex;
          position: relative;
          z-index: 2;
          align-items: center;
          height: 64px;
          padding: var(--spacing-8);
          padding-inline-start: var(--spacing-16);
          border-radius: var(--radius-rounded);
          background-color: rgb(255 255 255 / 20%);
          gap: var(--spacing-12);
          backdrop-filter: blur(2px);

          .price {
            font: var(--font-title-md);
          }

          [ui-button] {
            position: relative;
            flex: 2;
            height: 100% !important;
            border-radius: var(--radius-rounded);
            background-color: var(--color-background);
            color: var(--color-on-background);
          }
        }
      }
    }
  }
}

@media (width <= 760px) {
  ui-stories {
    [ui-stories="content"] {
      width: 100%;
      transform: none;
      border-radius: 0;
      inset: 0;
    }
  }
}
