/* PAGINATION */
ui-pagination {
  display: grid;
  visibility: hidden;
  position: fixed;
  z-index: 50;
  grid-template-columns: 0fr;
  width: max-content;
  transform: translateX(-50%) translateY(48px) scale(0.5);
  animation: open-pagination var(--transition-standard-slow-spatial) forwards;
  border-radius: var(--radius-rounded);
  opacity: 0;
  background-color: var(--color-on-background);
  color: var(--color-background);
  inset-inline-start: 50%;
  inset-block-end: var(--spacing-24);
  filter: blur(5px);

  .fab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-8);
    overflow: hidden;
    gap: var(--spacing-8);

    & > a {
      border-radius: var(--radius-rounded) !important;
      color: var(--color-background) !important;

      &[data-disabled] {
        background-color: transparent !important;
      }

      &[data-active="true"] {
        background-color: var(--color-background) !important;
        color: var(--color-on-background) !important;
      }

      &:hover:not([data-active="true"]) {
        background-color: color-mix(
          in srgb,
          currentcolor 10%,
          transparent
        ) !important;
      }
    }
  }
}

@keyframes open-pagination {
  to {
    visibility: visible;
    grid-template-columns: 1fr;
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
