/* EMPTY */
ui-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-12);
  padding-block: 10%;

  .illustration {
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 60px;
      border: 1px solid var(--color-surface-variant);
      border-radius: var(--radius-sm);
      background-color: var(--color-surface-container-lowest);

      i {
        opacity: 0.5;
        font-size: 20px;
      }

      &:first-child {
        transform: rotate(-15deg) scale(0.9);
        opacity: 0.5;
      }

      &:last-child {
        z-index: 2;
        transform: translate(-12px, -3px) rotate(5deg);
      }
    }
  }

  .content {
    display: grid;
    gap: var(--spacing-4);
    text-align: center;

    .heading {
      font: var(--font-body-md);
    }

    .subheading {
      opacity: 0.8;
      font: var(--font-body-sm);
    }
  }
}
