/* VARIANTS */
ui-variants {
  display: grid;
  gap: var(--spacing-12);

  [ui-variant] {
    display: grid;
    gap: var(--spacing-8);

    .label {
      opacity: 0.8;
      font: var(--font-body-md);
    }

    .options {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-8);

      .opt {
        position: relative;
        font: var(--font-body-md);
      }
    }

    &:not([ui-variant="radio"]) {
      .options {
        .opt {
          & > input[type="radio"] {
            position: absolute;
            scale: 0;
            opacity: 0;
          }
        }
      }
    }

    &[ui-variant="toggle"] {
      .options {
        .opt {
          display: flex;
          align-items: center;
          min-width: 36px;
          height: 36px;
          padding-inline: var(--spacing-12);
          transition: var(--transition-standard-default-effects);
          border: 1px solid var(--color-surface-variant);
          border-radius: var(--radius-sm);
          cursor: pointer;

          &:has(> input[type="radio"]:checked) {
            border-radius: var(--radius-rounded);
            border-color: transparent;
            background-color: var(--color-primary);
            color: var(--color-on-primary);
          }

          &:has(> input[type="radio"]:disabled) {
            opacity: 0.5;
            background-color: var(--color-surface-container);
            pointer-events: none;
          }
        }
      }
    }

    &[ui-variant="color"] {
      .options {
        .opt {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          padding-inline: var(--spacing-12);
          transition: var(--transition-standard-default-effects);
          border: 2px solid white;
          border-radius: var(--radius-circled);
          background-color: color-mix(in srgb, var(--color-value), black 5%);
          box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
          cursor: pointer;

          & > i {
            color: transparent;
            font-size: 20px;
          }

          &:has(> input[type="radio"]:checked) {
            & > i {
              color: white;
            }
          }

          &:has(> input[type="radio"]:disabled) {
            background-color: color-mix(
              in srgb,
              var(--color-value) 50%,
              transparent
            );
            pointer-events: none;

            &::before {
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              rotate: 35deg;
              filter: invert(1);
              background-color: var(--color-value);
            }
          }
        }
      }
    }

    &[ui-variant="image"] {
      .options {
        .opt {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          transition: var(--transition-standard-default-effects);
          border: 2px solid white;
          border-radius: var(--radius-sm);
          background-color: color-mix(in srgb, var(--color-value), black 5%);
          box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
          cursor: pointer;

          .checked {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            transition: var(--transition-standard-default-effects);
            opacity: 0;
            background-color: rgb(0 0 0 / 30%);
            color: white;
            inset: 0;
            backdrop-filter: blur(2px);

            & > i {
              font-size: 24px;
            }
          }

          & > img {
            border-radius: var(--radius-sm);
          }

          &:has(> input[type="radio"]:checked) {
            .checked {
              opacity: 1;
            }
          }

          &:has(> input[type="radio"]:disabled) {
            & > img {
              filter: grayscale(1) blur(1px);
            }

            &::before {
              content: "";
              position: absolute;
              z-index: 2;
              width: 1px;
              height: 140%;
              background-color: white;
              rotate: 45deg;
            }
          }
        }
      }
    }

    &[ui-variant="radio"] {
      .options {
        .opt {
          display: flex;
          align-items: center;
          min-height: 36px;
          padding-inline: var(--spacing-12);
          transition: var(--transition-standard-default-effects);
          border: 1px solid var(--color-surface-variant);
          border-radius: var(--radius-sm);
          cursor: pointer;
          gap: var(--spacing-8);

          & > input[type="radio"] {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border: 1px solid var(--color-surface-variant);
            border-radius: var(--radius-circled);
            appearance: none;

            &:checked {
              background-color: var(--color-primary);
            }

            &::before {
              content: "";
              display: block;
              width: 8px;
              height: 8px;
              clip-path: circle();
              background-color: var(--color-background);
            }
          }

          &:has(> input[type="radio"]:checked) {
            border-radius: var(--radius-rounded);
            border-color: var(--color-primary);
            background-color: color-mix(in srgb, currentcolor 15%, transparent);
            color: var(--color-primary);
          }

          &:has(> input[type="radio"]:disabled) {
            opacity: 0.5;
            background-color: var(--color-surface-container);
            pointer-events: none;

            & > input {
              background-color: var(--color-surface-container-highest);
            }
          }
        }
      }
    }

    &[ui-variant="dropdown"] {
      [ui-button] {
        justify-content: space-between;
        width: 100%;
        border-radius: var(--radius-sm);
        background-color: transparent;
        color: currentcolor;
      }
    }
  }
}
