ui-toast {
  display: flex;
  position: fixed;
  z-index: 9999;
  left: 50%;
  align-items: center;
  min-width: 300px;
  max-width: calc(100vw - var(--spacing-24));
  padding: var(--spacing-8);
  transform: translateX(-50%);
  transition: var(--transition-expressive-default-spatial);
  border-radius: var(--radius-rounded);
  background-color: var(--color-on-background);
  color: var(--color-background);
  inset-block-start: var(--spacing-12);
  gap: var(--spacing-8);
  font: var(--font-body-md);

  [ui-toast-status] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    clip-path: circle();

    &[ui-toast-status="success"] {
      background: linear-gradient(
        135deg,
        var(--color-success),
        var(--color-success-container)
      );
    }

    &[ui-toast-status="error"] {
      background: linear-gradient(
        135deg,
        var(--color-error),
        var(--color-error-container)
      );
    }

    &[ui-toast-status="info"] {
      background: linear-gradient(
        135deg,
        var(--color-info),
        var(--color-info-container)
      );
    }

    &[ui-toast-status="warning"] {
      background: linear-gradient(
        135deg,
        var(--color-star),
        var(--color-surface-container-highest)
      );
    }
  }

  [ui-toast-message] {
    flex: 2;
    width: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [ui-toast-action][ui-button] {
    color: var(--color-background);

    &:hover {
      background-color: color-mix(in srgb, currentcolor 10%, transparent) !important;
    }
  }

  &[data-state="closed"] {
    visibility: hidden;
    opacity: 0;
    filter: blur(5px);
    inset-block-start: -5%;
  }
}

/* Responsive */
@media (width <= 769px) {
  ui-toast {
    width: calc(100vw - var(--spacing-24));
  }
}
