/* ANNOUNCEMENT */
[ui-section="announcement"] {
  position: absolute;
  left: 50%;
  width: 600px;
  transform: translateX(-50%);
  inset-block-start: -42px;

  .content {
    align-items: center;
    font: var(--font-body-md);
    text-align: center;
    text-wrap: balance;
    gap: var(--spacing-6);

    .tag {
      padding: var(--spacing-2) var(--spacing-6);
      border-radius: var(--radius-xs);
      background-color: var(--color-primary-container);
      font: var(--font-body-sm);
    }

    .info {
      overflow: hidden;
      color: var(--color-on-surface-variant);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    a {
      color: var(--color-primary);
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

@media (width > 769px) {
  [ui-section="announcement"] {
    .content {
      display: grid;
      grid-template-columns: repeat(3, auto);
    }
  }
}

@media (width <= 769px) {
  [ui-section="announcement"] {
    width: 100%;
    padding-inline: var(--spacing-12);

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
