/* COLLECTIONS */
[ui-section="collections"] {
  display: grid;
  gap: var(--spacing-12);

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font: var(--font-title-md);
    }

    .see-all {
      height: auto;
      padding: 0;
    }
  }

  .collections {
    .collection {
      .collection-card {
        color: var(--color-on-background);

        .image {
          & > img {
            object-fit: cover;
          }
        }
      }
    }

    &[data-style="scrollable"] {
      display: flex;
      width: calc(100% + var(--spacing-24));
      padding-inline-end: var(--spacing-24);
      overflow-x: scroll;
      gap: var(--spacing-8);
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;

      .collection {
        min-width: 70%;
        height: 20vh;
        scroll-snap-align: center;
        scroll-snap-stop: always;
      }
    }

    &[data-style="gallery"] {
      column-gap: var(--spacing-12);
      column-count: 2;

      .collection {
        width: 100%;
        height: 30vh;
        margin-block-end: var(--spacing-12);

        &:nth-child(3n + 1) {
          height: 20vh;
        }
      }
    }

    &[data-style="scrollable"],
    &[data-style="gallery"] {
      .collection {
        .collection-card {
          display: flex;
          position: relative;
          align-items: end;
          width: 100%;
          height: 100%;
          padding: var(--spacing-16);
          overflow: hidden;
          border: none;
          border-radius: var(--radius-md);
          cursor: pointer;

          .image {
            inset: 0;
            position: absolute;
            transition: scale var(--transition-expressive-default-spatial);

            &::before,
            &::after {
              content: "";
              position: absolute;
              inset: 0;
            }

            &::before {
              background-color: rgb(0 0 0 / 30%);
              mask: linear-gradient(transparent, transparent, black);
              backdrop-filter: blur(3px);
            }

            &::after {
              transition: background-color
                var(--transition-expressive-default-spatial);
              background-color: rgb(0 0 0 / 8%);
            }
          }

          .content {
            position: relative;

            .name {
              color: var(--color-on-primary);
              font: var(--font-body-lg);
            }
          }

          &:hover .image {
            scale: 1.03;

            &::after {
              background-color: rgb(0 0 0 / 30%);
            }
          }
        }
      }
    }

    &[data-style="grid"] {
      display: grid;
      gap: var(--spacing-12);
      grid-template-columns: repeat(2, 1fr);

      .collection {
        .collection-card {
          display: flex;
          align-items: center;
          width: 100%;
          padding: var(--spacing-8);
          transition: background-color
            var(--transition-expressive-default-spatial);
          border: none;
          border-radius: var(--radius-md);
          background-color: var(--color-surface-container-low);
          cursor: pointer;
          gap: var(--spacing-12);

          .image {
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: var(--radius-sm);
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .content {
            .name {
              opacity: 0.8;
              font: var(--font-body-md);
            }
          }

          &:hover {
            background-color: var(--color-surface-container);
          }
        }
      }
    }
  }
}

@media (width <= 769px) {
  [ui-section="collections"] {
    .collections {
      &[data-style="scrollable"] {
        .collection {
          height: 25vh;
        }
      }

      &[data-style="grid"] {
        .collection {
          .collection-card {
            .image {
              width: 40px;
              height: 40px;
            }

            .content {
              .name {
                font: var(--font-body-sm);
              }
            }
          }
        }
      }
    }
  }
}
