/* CAROUSEL */
[ui-section="carousel"] {
  display: grid;
  gap: var(--spacing-12);

  .slides {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    gap: var(--spacing-12);

    .slide {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      min-width: 100%;
      height: 25vh;
      overflow: hidden;
      border-radius: var(--radius-md);
      scroll-snap-align: center;
      scroll-snap-stop: always;

      .content {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: var(--spacing-24);
        color: var(--color-on-primary);
        text-align: center;
        gap: var(--spacing-12);

        .heading {
          font: var(--font-title-lg);
        }

        [ui-button] {
          width: fit-content;
        }
      }

      .image {
        inset: 0;
        position: absolute;

        & > img {
          object-fit: cover;
        }

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background-color: rgb(0 0 0 / 20%);
          backdrop-filter: blur(1px);
        }
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);

    .page {
      width: 8px;
      height: 8px;
      border-radius: var(--radius-circled);
      background-color: var(--color-surface-container-highest);

      &:first-child {
        background-color: var(--color-primary);
      }
    }
  }
}

@media (width <= 769px) {
  [ui-section="carousel"] {
    .slides {
      .slide {
        height: 20vh;

        .content {
          gap: var(--spacing-4);
          padding: var(--spacing-16);

          .heading {
            font: var(--font-title-md);
          }
        }
      }
    }
  }
}
