/* LIST COLLECTIONS */
[ui-section="list-collections"] {
  display: grid;
  gap: var(--spacing-24);

  .title {
    font: var(--font-title-lg);
  }

  & > .collections {
    column-gap: var(--spacing-12);
    column-count: 2;

    .collection {
      width: 100%;
      margin-block-end: var(--spacing-12);

      & > a {
        display: grid;
        gap: var(--spacing-8);
        position: relative;
        color: var(--color-on-background);

        .image {
          position: relative;
          height: 30vh;
          overflow: hidden;
          border-radius: var(--radius-md);

          img {
            width: 100%;
            height: 100%;
            transition: var(--transition-standard-default-effects);
            object-fit: cover;
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            inset: 0;
          }

          &::before {
            background-color: rgb(0 0 0 / 30%);
            mask: linear-gradient(transparent, transparent, black);
            backdrop-filter: blur(3px);
          }

          &::after {
            transition: background-color
              var(--transition-expressive-default-spatial);
            background-color: rgb(0 0 0 / 8%);
          }
        }

        .name {
          position: absolute;
          padding-inline: var(--spacing-4);
          overflow: hidden;
          color: var(--color-on-primary);
          font: var(--font-body-lg);
          text-overflow: ellipsis;
          white-space: nowrap;
          inset-inline-start: var(--spacing-12);
          inset-block-end: var(--spacing-12);
        }
      }

      &:nth-child(3n + 1) .image {
        height: 20vh;
      }

      &:hover {
        & > a {
          .image::after {
            background-color: rgb(0 0 0 / 20%);
          }
        }
      }
    }
  }
}
