/* COLLECTIONS */
[ui-section="single-product"] {
  --media-height: 60vh;

  position: relative;
  margin-block-start: calc(var(--spacing-48) * -1);

  /* transform: translateY(calc(var(--spacing-48) * -1)); */

  .media {
    position: sticky;
    z-index: 2;
    width: 600px;
    height: var(--media-height);
    overflow: hidden;
    transform: translateX(calc(var(--spacing-24) * -1));
    inset-block-start: var(--spacing-0);
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;

    .slides {
      display: flex;
      overflow: scroll hidden;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;

      .slide {
        min-width: 100%;
        scroll-snap-align: center;
        scroll-snap-stop: always;

        .image {
          height: var(--media-height);

          & > img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .pagination {
      position: absolute;
      padding: var(--spacing-4) var(--spacing-12);
      border-radius: var(--radius-sm);
      background-color: rgb(0 0 0 / 30%);
      color: var(--color-background);
      font: var(--font-body-sm);
      backdrop-filter: blur(3px);
      inset-inline-end: var(--spacing-24);
      inset-block-end: var(--spacing-48);
    }
  }

  & > .content {
    display: flex;
    position: relative;
    z-index: 3;
    flex-direction: column;
    width: calc(100% + var(--spacing-48));
    margin-block-start: calc(var(--spacing-24) * -1);
    padding: var(--spacing-24);
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    background-color: var(--color-background);
    inset-inline-start: calc(var(--spacing-24) * -1);
    gap: var(--spacing-24);

    &:has(.note) {
      padding-block-end: 80px;
    }

    & > *:not(:first-child, .note, .events) {
      padding-block-start: var(--spacing-24);
      border-block-start: 1px solid var(--color-surface-variant);
    }

    .bio {
      display: grid;
      gap: var(--spacing-24);

      .title {
        font: var(--font-title-lg);
      }

      .about {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 40px;

        & > *:not(:first-child) {
          border-inline-start: 1px solid var(--color-surface-variant);
        }

        .rating {
          text-align: center;

          .stars {
            color: var(--color-primary);

            & > i {
              font-size: 10px;
            }
          }
        }

        .inventory {
          display: flex;
          align-items: center;
          justify-content: center;

          .status {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            padding: var(--spacing-4) var(--spacing-8);
            border-radius: var(--radius-sm);
            background-color: color-mix(in srgb, currentcolor 15%, transparent);
            color: rgb(196 42 44);
            font: var(--font-body-sm);
            gap: var(--spacing-8);

            .dot {
              font-size: 35px;
            }
          }
        }

        .total-reviews {
          display: grid;
          align-items: center;
          font: var(--font-body-md);
          text-align: center;

          .label {
            font: var(--font-body-sm);
          }
        }
      }
    }

    .description {
      opacity: 0.8;
      font: var(--font-body-md);

      img,
      iframe {
        max-width: 100%;
      }
    }

    .reviews {
      display: grid;
      gap: var(--spacing-24);

      .reviews-overview {
        display: flex;
        align-items: center;
        gap: var(--spacing-8);

        .rating {
          display: flex;
          align-items: center;
          color: var(--color-primary);
          font: var(--font-title-lg);
          font-size: 20px;
          gap: var(--spacing-4);
        }
      }

      .cards {
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        gap: var(--spacing-12);

        .card {
          display: grid;
          min-width: 90%;
          scroll-snap-align: center;
          scroll-snap-stop: always;
          gap: var(--spacing-12);

          &:not(:first-child) {
            padding-inline: var(--spacing-24);
            border-inline-start: 1px solid var(--color-surface-variant);
          }

          .rating {
            display: flex;
            align-items: center;
            gap: var(--spacing-4);

            .stars {
              color: var(--color-primary);

              & > i {
                font-size: 14px;
              }
            }

            .date {
              opacity: 0.8;
              font: var(--font-body-md);
            }
          }

          article {
            font: var(--font-body-md);
          }
        }
      }
    }

    .related-products {
      display: grid;
      gap: var(--spacing-12);

      .nav {
        .title {
          font: var(--font-body-lg);
        }
      }

      .products {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        gap: var(--spacing-8);
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;

        .product {
          display: flex;
          position: relative;
          flex-direction: column;
          width: 100%;
          min-width: 40%;
          margin-block-end: var(--spacing-12);
          cursor: pointer;
          scroll-snap-align: center;
          scroll-snap-stop: always;
          gap: var(--spacing-12);

          .content {
            display: grid;
            gap: var(--spacing-2);
            padding-inline: var(--spacing-4);

            .title {
              overflow: hidden;
              color: var(--color-on-background);
              font: var(--font-body-md);
              text-overflow: ellipsis;
              white-space: nowrap;
              text-underline-offset: 4px;

              &:hover {
                text-decoration: underline;
              }
            }

            .price {
              color: var(--color-primary);
              font: var(--font-body-md);
              font-weight: 500;
            }

            .badge {
              width: fit-content;
              padding: var(--spacing-2) var(--spacing-6);
              border-radius: var(--radius-xs);
              background-color: color-mix(
                in srgb,
                currentcolor 10%,
                transparent
              );
              color: var(--color-primary);
              font: var(--font-label-sm);
            }
          }

          .image {
            height: 25vh;
            overflow: hidden;
            border-radius: var(--radius-md);

            & > img {
              object-fit: cover;
            }
          }

          .action {
            position: absolute;
            inset-block-start: var(--spacing-12);
            inset-inline-end: var(--spacing-12);
          }
        }
      }
    }

    .note {
      display: flex;
      position: fixed;
      z-index: 50;
      align-items: center;
      background-color: var(--color-background);
      gap: var(--spacing-8);

      & > svg {
        color: var(--color-primary);
      }
    }

    .events {
      display: flex;
      position: fixed;
      z-index: 50;
      align-items: center;
      justify-content: space-between;
      width: 600px;
      height: 80px;
      padding-inline: var(--spacing-24);
      transform: translateX(-50%);
      background-color: var(--color-background);
      inset-inline-start: 50%;
      border-block-start: 1px solid var(--color-surface-variant);
      inset-block-end: 0;

      .price {
        color: var(--color-primary);
        font: var(--font-title-lg);
        font-size: 20px;

        .compare-at {
          opacity: 0.7;
          text-decoration: line-through;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        gap: var(--spacing-12);
      }
    }
  }
}

@media (width > 769px) {
  [ui-section="single-product"] {
    & > .content {
      .note {
        padding: var(--spacing-12) var(--spacing-16);
        transform: translateX(-50%);
        border: 1px solid var(--color-surface-variant);
        border-radius: var(--radius-md);
        box-shadow: rgb(17 12 46 / 15%) 0 48px 100px 0;
        inset-inline-start: 50%;
        inset-block-end: 92px;
        font: var(--font-body-md);
      }
    }
  }
}

@media (width <= 769px) {
  [ui-section="single-product"] {
    --media-height: 50vh;

    .media {
      width: calc(100% + var(--spacing-48));
      border-radius: var(--radius-none);
    }

    & > .content {
      .related-products {
        .products {
          .product {
            .image {
              height: 15vh;
            }
          }
        }
      }

      .note {
        justify-content: center;
        width: 100%;
        padding: var(--spacing-12);
        inset-inline-start: 0;
        inset-block-end: 100px;
        font: var(--font-body-sm);
        border-block-start: 1px solid var(--color-surface-variant);

        & > svg {
          width: 16px;
          height: 16px;
        }
      }

      .events {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100px;
        gap: var(--spacing-8);

        .actions {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
        }
      }
    }
  }
}
