/* SOCIAL LINKS */
[ui-section="social-links"] {
  display: grid;
  gap: var(--spacing-8);

  .title {
    font: var(--font-title-md);
  }

  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-8);

    .link {
      &:nth-of-type(odd):last-child {
        grid-column: 1 / 3;
      }
    }
  }
}
