/* HERO */
[ui-section="hero"] {
  display: grid;
  justify-content: center;
  gap: var(--spacing-12);
  text-align: center;

  .avatar {
    display: flex;
    position: relative;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      width: 84px;
      height: 84px;
      transform: translateX(-50%);
      border-radius: var(--radius-circled);
      background-image: linear-gradient(
        35deg,
        var(--color-inverse-primary),
        var(--color-primary),
        var(--color-secondary)
      );
      inset-block-start: -2px;
      inset-inline-start: 50%;
    }

    .avatar-box {
      position: relative;
      width: 80px;
      height: 80px;
      overflow: hidden;
      border: 2px solid transparent;
      border-radius: var(--radius-circled);
      cursor: pointer;

      img {
        transition: var(--transition-expressive-default-spatial);
      }

      &:hover img {
        transform: scale(1.1) rotate(5deg);
      }
    }
  }

  .content {
    display: grid;
    gap: var(--spacing-4);

    .heading {
      font: var(--font-body-lg);
    }

    .subheading {
      opacity: 0.8;
      font: var(--font-body-md);
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: var(--spacing-8);
  }
}
