/* ANNOUNCEMENT */
[ui-section="announcement"] {
  width: 600px;
  margin-block-start: var(--spacing-12);
  padding-block: var(--spacing-12);

  .content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font: var(--font-body-md);
    text-align: center;
    gap: var(--spacing-6);
    text-wrap: balance;

    .tag {
      padding: var(--spacing-2) var(--spacing-6);
      border-radius: var(--radius-xs);
      background-color: var(--color-primary-container);
      font: var(--font-body-sm);
    }

    .info {
      opacity: 0.8;
    }

    a {
      color: var(--color-primary);
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

@media (width <= 769px) {
  [ui-section="announcement"] {
    width: 100%;
    padding-inline: var(--spacing-12);
  }
}
