/* SEARCH */
[ui-section="search"] {
  display: grid;
  gap: var(--spacing-24);

  .head {
    display: flex;
    gap: var(--spacing-8);
    align-items: center;
    justify-content: space-between;

    .label {
      font: var(--font-body-md);

      span {
        color: var(--color-primary);
      }
    }
  }

  .products {
    display: grid;
    gap: var(--spacing-12);
    grid-template-columns: repeat(2, 1fr);

    .product {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;
      margin-block-end: var(--spacing-12);
      gap: var(--spacing-12);
      cursor: pointer;

      .image {
        height: 28vh;

        img {
          object-fit: cover;
          height: 100%;
        }
      }

      .content {
        display: grid;
        gap: var(--spacing-2);
        padding-inline: var(--spacing-4);

        .title {
          overflow: hidden;
          color: var(--color-on-background);
          font: var(--font-body-md);
          text-overflow: ellipsis;
          white-space: nowrap;
          text-underline-offset: 4px;

          &:hover {
            text-decoration: underline;
          }
        }

        .price {
          color: var(--color-primary);
          font: var(--font-body-md);
          font-weight: 500;
        }

        .badge {
          width: fit-content;
          padding: var(--spacing-2) var(--spacing-6);
          border-radius: var(--radius-xs);
          background-color: color-mix(in srgb, currentcolor 10%, transparent);
          color: var(--color-primary);
          font: var(--font-label-sm);
        }
      }

      .image {
        overflow: hidden;
        border-radius: var(--radius-md);

        & > img {
          object-fit: cover;
        }
      }

      .action {
        position: absolute;
        inset-block-start: var(--spacing-12);
        inset-inline-end: var(--spacing-12);
      }
    }
  }
}

@media (width <= 769px) {
  [ui-section="search"] {
    .products {
      .product {
        .image {
          height: 20vh;
        }
      }
    }
  }
}
