/* SINGLE COLLECTION */
[ui-section="single-collection"] {
  --media-height: 40vh;

  padding-block-start: calc(var(--media-height) - var(--spacing-48));

  .media {
    display: flex;
    position: fixed;
    z-index: 2;
    align-items: end;
    width: 600px;
    height: var(--media-height);
    padding: var(--spacing-24);
    padding-block-end: var(--spacing-48);
    overflow: hidden;
    transform: translateX(-50%);
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    inset-inline-start: 50%;
    inset-block-start: var(--spacing-12);

    &::before {
      content: "";
      position: absolute;
      background-image: linear-gradient(
        to bottom,
        transparent,
        transparent,
        rgb(0 0 0 / 60%)
      );
      inset: 0;
    }

    .info {
      display: grid;
      gap: var(--spacing-4);
      position: relative;
      color: var(--color-background);

      .name {
        font: var(--font-title-lg);
      }

      .description {
        opacity: 0.8;
        font: var(--font-body-md);
        text-wrap: balance;
      }
    }
  }

  .listing {
    display: flex;
    position: relative;
    z-index: 3;
    flex-direction: column;
    width: calc(100% + var(--spacing-48));
    padding: var(--spacing-24);
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    background-color: var(--color-background);
    inset-inline-start: calc(var(--spacing-24) * -1);
    gap: var(--spacing-24);

    .list {
      display: grid;
      gap: var(--spacing-24);

      .head {
        display: flex;
        gap: var(--spacing-8);
        align-items: center;
        justify-content: space-between;

        .label {
          font: var(--font-body-md);

          span {
            color: var(--color-primary);
          }
        }
      }

      .products {
        display: grid;
        gap: var(--spacing-12);
        grid-template-columns: repeat(2, 1fr);

        .product {
          display: grid;
          gap: var(--spacing-6);
          position: relative;

          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: var(--radius-md);
          }

          .name {
            padding-inline: var(--spacing-4);
            font: var(--font-body-md);
          }

          .action {
            position: absolute;
            inset-inline-end: var(--spacing-6);
            inset-block-start: var(--spacing-6);
          }
        }
      }
    }

    .sub-collections {
      display: flex;
      height: 15vh;
      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;
      gap: var(--spacing-12);

      .sub-collection-item {
        position: relative;
        min-width: 40%;
        overflow: hidden;
        border-radius: var(--radius-md);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        scroll-snap-align: center;
        scroll-snap-stop: always;

        &::before {
          content: "";
          position: absolute;
          background-image: linear-gradient(
            to bottom,
            transparent,
            rgb(0 0 0 / 30%)
          );
          inset: 0;
        }

        a {
          display: flex;
          position: relative;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          padding: var(--spacing-12);
          color: var(--color-background);
          font: var(--font-body-md);
        }
      }
    }
  }
}

@media (width <= 769px) {
  [ui-section="single-collection"] {
    .media {
      width: 100%;
      border-radius: var(--radius-none);
      inset-block-start: var(--spacing-0);
    }

    .listing {
      .list {
        .products {
          .product {
            img {
              height: 20vh;
            }
          }
        }

        .sub-collections {
          .sub-collection-item {
            min-width: 60%;
          }
        }
      }
    }
  }
}
