/* PRODUCTS */
[ui-section="products"] {
  display: grid;
  gap: var(--spacing-8);

  .title {
    font: var(--font-title-md);
  }

  & > .products {
    display: grid;
    gap: var(--spacing-12);
    grid-template-columns: repeat(2, 1fr);

    .product {
      display: grid;
      gap: var(--spacing-6);
      position: relative;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: var(--radius-md);
      }

      .name {
        padding-inline: var(--spacing-4);
        font: var(--font-body-md);
      }

      .action {
        position: absolute;
        inset-inline-end: var(--spacing-6);
        inset-block-start: var(--spacing-6);
      }
    }
  }
}

@media (width <= 769px) {
  [ui-section="products"] {
    .products {
      .product {
        img {
          height: 20vh;
        }
      }
    }
  }
}
