/* CART */
[ui-section="cart"] {
  display: grid;
  gap: var(--spacing-24);

  .title {
    font: var(--font-title-lg);
  }

  .core {
    display: grid;
    gap: var(--spacing-12);

    .card {
      padding: var(--spacing-8);
      border-radius: var(--radius-md);
      background-color: var(--color-surface-container-low);

      .title {
        display: flex;
        justify-content: center;
        padding-block: var(--spacing-4) var(--spacing-12);
        opacity: 0.8;
        font: var(--font-body-md);
      }

      .box {
        padding: var(--spacing-12);
        border-radius: var(--radius-md);
        background-color: var(--color-background);

        &.products {
          display: grid;
          gap: var(--spacing-12);

          .product {
            display: flex;
            gap: var(--spacing-12);

            &:not(:last-child) {
              padding-block-end: var(--spacing-12);
              border-block-end: 1px dashed var(--color-surface-variant);
            }

            img {
              object-fit: cover;
              border-radius: var(--radius-md);
            }

            .info {
              display: flex;
              flex: 2;
              flex-direction: column;
              gap: var(--spacing-4);
              font: var(--font-body-md);

              .name {
                overflow: hidden;
                font-weight: 500;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .price {
                color: var(--color-primary);
              }
            }

            .actions {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              justify-content: space-between;

              .quantity {
                display: flex;
                align-items: center;
                gap: var(--spacing-4);

                .value {
                  width: 30px;
                  font: var(--font-body-md);
                  text-align: center;
                }
              }
            }
          }
        }

        &.summary {
          display: grid;
          gap: var(--spacing-12);

          .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font: var(--font-body-md);
            gap: var(--spacing-12);

            .value {
              color: var(--color-primary);
              font-weight: 500;
            }

            &:last-child {
              font: var(--font-title-md);
              font-weight: 500;
            }

            &:not(:last-child) {
              padding-block-end: var(--spacing-12);
              border-block-end: 1px dashed var(--color-surface-variant);
            }
          }
        }
      }
    }
  }
}
