/* PAGE */
[ui-section="page"] {
  position: relative;
  transform: translateY(calc(var(--spacing-48) * -1));

  .media {
    display: flex;
    position: sticky;
    z-index: 2;
    flex-direction: column;
    justify-content: end;
    width: 600px;
    height: 40vh;
    padding: var(--spacing-24);
    padding-block-end: var(--spacing-48);
    overflow: hidden;
    transform: translateX(calc(var(--spacing-24) * -1));
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    background-image: linear-gradient(
      -45deg,
      var(--color-surface-container-low),
      var(--color-surface-container-highest)
    );
    gap: var(--spacing-12);
    inset-block-start: var(--spacing-0);

    .title {
      font: var(--font-title-lg);
    }

    .store {
      display: flex;
      align-items: center;
      gap: var(--spacing-8);

      img {
        clip-path: circle();
      }

      .name {
        opacity: 0.8;
        color: var(--color-on-background);
        font: var(--font-body-md);
        text-underline-offset: 2px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .content {
    display: grid;
    position: relative;
    z-index: 3;
    flex-direction: column;
    width: calc(100% + var(--spacing-48));
    padding: var(--spacing-24);
    transform: translateY(calc(var(--spacing-24) * -1));
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    background-color: var(--color-background);
    inset-inline-start: calc(var(--spacing-24) * -1);
    gap: var(--spacing-8);

    p {
      font: var(--font-body-md);
    }

    form {
      display: grid;
      gap: var(--spacing-24);

      [ui-button] {
        width: 100%;
      }

      .fields {
        display: grid;
        gap: var(--spacing-12);

        .field {
          display: grid;
          gap: var(--spacing-4);
          opacity: 0.8;

          label {
            font: var(--font-body-md);
          }
        }
      }
    }
  }
}

@media (width <= 769px) {
  [ui-section="page"] {
    .media {
      width: calc(100% + var(--spacing-48));
      border-radius: var(--radius-none);
    }
  }
}
