/* MAP */
[ui-section="map"] {
  .map-card {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-lg);

    iframe {
      width: 100%;
      height: 450px;
    }

    .info {
      display: flex;
      position: absolute;
      justify-content: space-between;
      width: 100%;
      padding: var(--spacing-24);
      background-color: var(--color-background);
      inset-inline-start: var(--spacing-0);
      inset-block-end: var(--spacing-0);
      border-block-start: none;

      .bio {
        display: grid;
        gap: var(--spacing-4);

        .label {
          opacity: 0.8;
          font: var(--font-label-lg);
        }

        .value {
          font: var(--font-title-md);
        }
      }
    }
  }
}

@media (width <= 769px) {
  [ui-section="map"] {
    .map-card {
      iframe {
        height: 35vh;
      }
    }
  }
}
