/* ANNOUNCEMENT */
[ui-section="announcement"] {
  position: relative;
  left: 50%;
  width: 600px;
  padding-block-start: var(--spacing-12);
  transform: translateX(-50%);

  .content {
    align-items: center;
    font: var(--font-body-md);
    text-align: center;
    text-wrap: balance;
    gap: var(--spacing-6);

    .tag {
      padding: var(--spacing-2) var(--spacing-6);
      border-radius: var(--radius-xs);
      background-color: var(--color-primary-container);
      font: var(--font-body-sm);
    }

    .info {
      overflow: hidden;
      color: var(--color-on-surface-variant);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    a {
      color: var(--color-primary);
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

@media (width > 769px) {
  [ui-section="announcement"] {
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (width <= 769px) {
  [ui-section="announcement"] {
    display: none;
  }
}
