/* COLLECTIONS */
[ui-section="collections"] {
  display: grid;
  gap: var(--spacing-8);

  .title {
    font: var(--font-title-md);
  }

  & > .collections {
    display: flex;
    width: calc(100% + var(--spacing-24));
    padding-inline-end: var(--spacing-24);
    overflow-x: scroll;
    gap: var(--spacing-8);
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    .collection {
      min-width: 70%;
      height: 20vh;
      scroll-snap-align: center;
      scroll-snap-stop: always;

      .collection-card {
        display: flex;
        position: relative;
        align-items: end;
        width: 100%;
        height: 100%;
        padding: var(--spacing-12);
        overflow: hidden;
        border: none;
        border-radius: var(--radius-md);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;

        .content {
          display: grid;
          position: relative;
          color: var(--color-on-primary);
          gap: var(--spacing-2);
          text-align: start;

          .name {
            font: var(--font-body-md);
          }

          .description {
            opacity: 0.8;
            font: var(--font-body-sm);
          }
        }

        &::before {
          content: "";
          inset: 0;
          position: absolute;
          background-image: linear-gradient(
            to bottom,
            transparent,
            transparent,
            var(--color-on-background)
          );
        }
      }
    }
  }
}

@media (width <= 769px) {
  [ui-section="collections"] {
    .collections {
      .collection {
        min-width: 80%;
        height: 18vh;
      }
    }
  }
}
